header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.header{
    background-color: #f3f3f3;
    box-shadow: none; !important;
}

body{
    background-color: #f3f3f3
}

.active-menu{
    background-color: rgba(0,0,0,0.1);
}

nav{
    background-color: rgba(0,0,0,0.42);
}

.userView{
    background-color: rgba(0,0,0,0.42);
}